$primary-color: #5897fb;
$secondary-color: #666666;
$border-color: #dcdee2;
$font-color: #666666;
$white: #ffffff;
$max-width: 800px;
$min-width: 360px;
$spacing: 20px;
$spacing-half: $spacing/2;
$spacing-quarter: $spacing/4;
