:root {
  // Colors
  --color-primary: #5897fb;
  --color-secondary: #666666;
  --color-header-bg: #ffffff;
  --color-border: #dcdee2;
  --color-font: #66666;
  --color-white: #ffffff;
  --color-alert-info: #cfe2ff;
  --color-alert-info-border: #b6d4fe;
  --color-ads-background: #7cadfa;

  // Sizes
  --width-max: 1000px;
  --height-header: 90px;
  --width-nav: 200px;
  --height-nav: 30px;

  // Misc
  --border-radius: 4px;
  --font-size: 14px;

  // Spacings
  --spacing: 16px;
  --spacing-half: 8px;
  --spacing-quarter: 4px;
}
