button,
.btn {
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  height: 30px;
  width: auto;
  max-width: 100%;
  min-width: auto;
  padding: 0 var(--spacing-half) 0 var(--spacing-half);
  cursor: pointer;
  background-color: var(--color-primary);
  text-align: center;
  line-height: 18px;
  user-select: none;
  white-space: nowrap;
  border-radius: var(--border-radius);
  vertical-align: middle;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-sizing: content-box;
}
