$app-width: 600px;
$primary-color: #5897fb;
$secondary-color: #666666;
$border-color: #dcdee2;
$white: #ffffff;

html {
  height: 100%;
}

body {
  font-family: helvetica;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

h1, h2, h3, h4, h5 { margin: 0 0 10px 0; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

#app {
  display: flex;
  flex-direction: column;
  width: $app-width;
  margin: 0 auto;

  .header {
    margin: 0;
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: solid 1px $border-color;

    .logo {
      font-size: 40px;
      font-weight: bold;

      img {
        height: 60px;
      }
    }

    .tagline {
      font-size: 18px;
    }

    .select-nav {
      width: 150px;
      margin: 0 auto;
      padding: 8px 0 0 0;
    }
  }

  .main {
    display: flex;
    flex-direction: row;

    .content {
      flex: 1 1 auto;
      min-height: 600px;
      background-color: $white;
      padding: 20px;
    }
  }
}
