// Import Highlight.js GitHub Dark Dimmed theme
@import 'highlight.js/styles/github-dark-dimmed.css';

// Also apply to code blocks with language classes
pre {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: var(--border-radius);

  code.hljs {
    width: 100%;
    padding: 0 var(--spacing) 0 var(--spacing);
    margin: 0;
    border-radius: var(--border-radius);
  }
}
