@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at 47% 9%, #7db9e8, #5897fb);
  background-attachment: fixed;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif, Helvetica;
  font-size: var(--font-size);
  padding: 0;
  margin: 0;
  color: var(--color-font);

  #app {
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    width: 100%;
    max-width: var(--max-width);

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex: 0 1 auto;
      color: var(--color-white);
      margin: 0;
      padding: 15px 0 15px 0;

      @media screen and (max-width: 800px) {
        padding: var(--spacing-half);
      }
      @media screen and (max-width: 600px) {
        align-items: flex-start;
        flex-direction: column;
      }

      .text {
        flex: 1 1 100%;

        .logo {
          font-size: 40px;
          font-weight: 300;
        }

        .tagline {
          font-size: 18px;
        }
      }

      .select-nav {
        display: flex;
        flex: 0 1 100%;
        width: 100%;
        color: var(--color-font);
        margin: 0 auto;
        padding: var(--spacing-half) 0 0 0;

        a,
        img {
          height: 30px;
        }

        > * {
          flex: 0 1 auto;
          margin: 0 0 0 var(--spacing-half);

          @media screen and (max-width: 800px) {
            &:first-child {
              margin: 0 0 0 0;
            }
          }
        }
      }
    }

    .main {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-half);

      .contents {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
      }

      .content {
        flex: 1 1 auto;
        padding: var(--spacing);
        background-color: var(--color-white);
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: var(--border-radius);

        @media screen and (max-width: 800px) {
          box-shadow: none;
          border-radius: 0px;
        }

        .select-split {
          display: flex;
          flex-direction: row;
          gap: var(--spacing-half);

          > * {
            width: 100%;
          }
        }
      }
    }

    .footer {
      color: #ffffff;
      font-size: var(--font-size);
      padding: var(--spacing) 0 var(--spacing) 0;
      text-align: center;

      @media screen and (max-width: 800px) {
        padding: var(--spacing);
      }

      a {
        color: var(--color-font);
      }
    }
  }
}
