h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-secondary);
    text-decoration: underline;
  }
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0 0 var(--spacing-half) 0;
  padding-left: var(--spacing);

  li {
    margin-bottom: var(--spacing-quarter);
    color: var(--color-font);
  }
}

em {
  color: var(--color-secondary);
  font-size: var(--font-size);
  font-style: italic;
}

.separator {
  height: 1px;
  width: 100%;
  margin: var(--spacing-half) 0 var(--spacing-half) 0;
  background-color: var(--color-border);

  &.vertical {
    width: 1px;
    height: 100%;
    margin: 0 var(--spacing-half) 0 var(--spacing-half);
  }
}

.bold {
  font-weight: bold;
}
