:root {
  --ss-height: 30px;
  --ss-bg-color: #ffffff;
  --ss-font-color: #666666;
  --ss-font-placeholder-color: #8a8a8a;
  --ss-disabled-color: #dedede;
  --ss-primary-color: #5897fb;
  --ss-border-color: #dcdee2;
  --ss-highlight-color: #fffb8c;
  --ss-border-radius: 4px;
  --ss-spacing-l: 8px;
  --ss-spacing-m: 6px;
  --ss-spacing-s: 4px;
}

// Animation keyframes
@keyframes ss-scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ss-scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

// Misc classes
.ss-hide {
  display: none;
}

// Main container
.ss-main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: var(--ss-font-color);
  width: 100%;

  .ss-single {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: var(--ss-height);
    padding: var(--ss-spacing-m);
    border: 1px solid var(--ss-border-color);
    border-radius: var(--ss-border-radius);
    background-color: var(--ss-bg-color);
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.2s;

    &.ss-disabled {
      background-color: var(--ss-border-color);
      cursor: not-allowed;
    }

    &.ss-open-above {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    &.ss-open-below {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .ss-placeholder {
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      width: calc(100% - 30px);
      line-height: 1em;
      user-select: none;

      * {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
      }

      &.ss-disabled {
        color: var(--ss-disabled-color);
      }
    }

    .ss-deselect {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 1 auto;
      margin: 0 var(--ss-spacing-m) 0 var(--ss-spacing-m);
      font-weight: bold;
    }

    .ss-arrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 1 auto;
      margin: 0 var(--ss-spacing-m) 0 var(--ss-spacing-m);

      span {
        border: solid var(--ss-font-color);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transition: transform 0.2s, margin 0.2s;

        &.arrow-up {
          transform: rotate(-135deg);
          margin: 3px 0 0 0;
        }
        &.arrow-down {
          transform: rotate(45deg);
          margin: -3px 0 0 0;
        }
      }
    }
  }

  .ss-multi {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-height: var(--ss-height);
    width: 100%;
    padding: 0 0 0 3px;
    border: 1px solid var(--ss-border-color);
    border-radius: var(--ss-border-radius);
    background-color: var(--ss-bg-color);
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.2s;

    &.ss-disabled {
      background-color: var(--ss-border-color);
      cursor: not-allowed;

      .ss-values {
        .ss-disabled {
          color: var(--ss-font-color);
        }

        .ss-value {
          .ss-value-delete {
            cursor: not-allowed;
          }
        }
      }
    }

    &.ss-open-above {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    &.ss-open-below {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .ss-values {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex: 1 1 100%;
      width: calc(100% - 30px);

      .ss-placeholder {
        display: flex;
        padding: 4px 5px;
        margin: 2px 0px;
        line-height: 1em;
        align-items: center;
        width: 100%;
        color: var(--ss-disabled-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .ss-value {
        display: flex;
        user-select: none;
        align-items: center;
        font-size: 12px;
        margin: 3px 5px 3px 0px;
        color: var(--ss-bg-color);
        background-color: var(--ss-primary-color);
        border-radius: var(--ss-border-radius);
        animation-name: ss-scaleIn;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;

        &.ss-out {
          animation-name: ss-scaleOut;
          animation-duration: 0.2s;
          animation-timing-function: ease-out;
        }

        .ss-value-text {
          padding: 3px 5px;
        }

        .ss-value-delete {
          padding: 3px 5px;
          cursor: pointer;
          border-left: solid 1px var(--ss-disabled-color);
        }
      }
    }

    .ss-add {
      display: flex;
      flex: 0 1 3px;
      margin: 9px 12px 0 5px;

      .ss-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--ss-font-color);
        position: relative;
        height: 10px;
        width: 2px;
        transition: transform 0.2s;

        &:after {
          background: var(--ss-font-color);
          content: '';
          position: absolute;
          height: 2px;
          width: 10px;
          left: -4px;
          top: 4px;
        }

        &.ss-cross {
          transform: rotate(45deg);
        }
      }
    }
  }
}

// Content container
.ss-content {
  position: absolute;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  border: solid 1px var(--ss-border-color);
  z-index: 1010;
  background-color: var(--ss-bg-color);
  transform-origin: center top;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform: scaleY(0);

  &.ss-open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }

  .ss-search {
    display: flex;
    flex-direction: row;
    padding: var(--ss-spacing-l) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);

    &.ss-hide {
      height: 0px;
      opacity: 0;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;

      input {
        height: 0px;
        opacity: 0;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
      }
    }

    input {
      display: inline-flex;
      font-size: inherit;
      line-height: inherit;
      flex: 1 1 auto;
      width: 100%;
      min-width: 0px;
      height: 30px;
      padding: var(--ss-spacing-m) var(--ss-spacing-l);
      margin: 0;
      border: 1px solid var(--ss-border-color);
      border-radius: var(--ss-border-radius);
      background-color: var(--ss-bg-color);
      outline: 0;
      text-align: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &::placeholder {
        color: var(--ss-font-placeholder-color);
        vertical-align: middle;
      }

      &:focus {
        box-shadow: 0 0 5px var(--ss-primary-color);
      }
    }

    .ss-addable {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 22px;
      font-weight: bold;
      flex: 0 0 30px;
      height: 30px;
      margin: 0 0 0 8px;
      border: 1px solid var(--ss-border-color);
      border-radius: var(--ss-border-radius);
      box-sizing: border-box;
    }
  }

  .ss-addable {
    padding-top: 0px;
  }

  .ss-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;

    .ss-optgroup {
      .ss-optgroup-label {
        padding: 6px 10px 6px 10px;
        font-weight: bold;
      }

      .ss-option {
        padding: 6px 6px 6px 25px;
      }
    }

    .ss-optgroup-label-selectable {
      cursor: pointer;

      &:hover {
        color: var(--ss-bg-color);
        background-color: var(--ss-primary-color);
      }
    }

    .ss-option {
      padding: 6px 10px 6px 10px;
      cursor: pointer;
      user-select: none;

      * {
        display: inline-block;
      }

      &:hover,
      &.ss-highlighted {
        color: var(--ss-bg-color);
        background-color: var(--ss-primary-color);
      }

      &.ss-disabled {
        cursor: not-allowed;
        color: var(--ss-disabled-color);
        background-color: var(--ss-bg-color);
      }

      &:not(.ss-disabled).ss-option-selected {
        color: var(--ss-font-color);
        background-color: var(--ss-highlight-color);
      }

      .ss-search-highlight {
        background-color: var(--ss-highlight-color);
      }
    }
  }
}
